#banner {
    background-image: url(../images/banner2.jpg);
}

.main > * > .inner {
    padding: 1em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

.main > * > .innert {
    padding: 4em 0 2em 0;
}

#main > * > .inner {
    padding: 1em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

a {
    border-bottom: none;
}

.pull-right {
    float: right;
}

.col-content {}

.rowlis {
    margin-right: -15px;
    margin-left: -15px;
}

.col-content .col-list {
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.rowlit {
    margin-right: -10px;
    margin-left: -10px;
}

.col-content .col-listst {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.col-content .col-list img {
    width: 100%
}

.more {
    color: #58cecf;
    border: 1px solid #58cecf;
    display: inline-block;
    padding: 0.3em 2em 0.3em 2em;
    vertical-align: middle;
    float: right;
    margin-top: 0.9em
}

.more a {
    text-decoration: none;
    border-bottom: none;
}

header.major {
    margin-bottom: 1em;
}

.col-listst span {
    display: block;
}

.main-service p {
    width: 70%;
    margin: 0 0 0.4em 0
}

.main-service {
    padding-bottom: 4em
}

.main-bank {
    background-color: #2a2f4a
}

#banner:after {
    background-color: #c9a27e;
}

.apply-con .formgroup input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 78%;
    margin-left: 24%;
}
.apply-con .formgroup input:focus{
   border:0;
    border-bottom: 1px solid #fff;
   outline: none;
}
.apply-con .formgroup1 input {
    width: 46%;
    margin-left: 56%;
}
.apply-con .formgroup2 input {
    width: 61%;
    margin-left: 41%;
}
.apply-con .formgroup3 input {
    width: 33%;
    margin-left: 69%;
}
.apply-con .formgroup textarea {
    background: transparent;
    border: 1px solid #fff;
    height: 6.9em;
    margin-top: 0.5em;
}

.apply-con .formgroup label {
    font-weight: normal;
    font-size: 0.96em;
    letter-spacing: 0.05em;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 0;
   
}
.applymedia .formgroup label{
 position: absolute;
}
.apply-con {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.apply-li {
    width: 50%;
    float: left;
    border: 1px solid #fff;
    padding: 5px 29px 16px 29px;
    /*height: 11em;*/
}

.apply-li:last-child {
    border-left: none;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    clear: both;
}

.tac {
    text-align: center;
}

.actionsalig {
    margin-top: 40px;
}

.actionsalig .more {
    color: #fff;
    border-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    float: none;
}


/*展示*/

.col-six {
    width: 60%;
    float: left;
    margin-right: 4%;
}

.col-four {
    width: 30%;
    float: left;
}

.col-six-r {
    width: 60%;
    float: left;
    margin-left: 4%;
}

.col-four-r {
    width: 30%;
    float: left;
}

.col-four img {
    width: 100%;
}

.col-four-r img {
    width: 100%;
}

.feel-content p {
    text-indent: 30px;
    margin-bottom: 0
}

.mart-6 {
    margin-top: 57px;
}

.padd-b {
    padding-bottom: 20px;
}

.margin-rauto {
    margin-left: auto;
}

.loinimg {
    width: 38%;
    float: left;
    margin-right: 2%;
}

.loinimg img {
    width: 100%;
}

.lointext {
    float: left;
    width: 58%;
}

.joinways .content {
    margin-top: 30px;
}

.listnews {
    list-style: none;
    padding-left: 0;
}

.listnews li {
    padding-left: 0;
}

.listnews img {
    width: auto;
}

.listnews span {
    text-align: right;
    float: right;
}

.listnews i {
    font-style: normal;
    vertical-align: top;
    padding-left: 10px;
    margin-top: -2px;
    /*display: inline-block;*/
}

.joinways .col-four {
    width: 36%;
    float: left;
    margin-top: 30px;
}

.buy .content {
    margin-top: 6px;
}

.buy .col-four {
    margin-top: 6px;
}

.buy .col-six {
    width: 42%;
}

.buy .col-four {
    width: 54%;
}

.moretop {
    margin-top: -0.9em;
}

.compaysh h4 {
    background: #5cb1ae;
    color: #Fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    padding: 0.3em;
    width: 85%;
    box-shadow: 0 0 8px #2f2e2e;
    font-size: 1.2em;
    margin-top: 12px;
}

.compaysh img {
    box-shadow: 0 0 8px #2f2e2e;
}

.moreag {
    border: 0;
    margin-bottom: 20px;
}

.rowlitr {
/*    margin-left: -80px;
    margin-right: -80px;*/
}

.col-litree {
    padding-left: 80px;
    padding-right: 80px;
    width: 33.3%;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.col-litree img {
    width: 100%;
    margin-bottom: 20px;
}

.col-litree p {
    margin-bottom: 0
}

.col-litree .more {
    float: none;
    margin-top: 40px;
    margin-left: 20px;
}

.business .formgroup textarea {
    height: 5.78em;
}

.coor-content p {
    margin-bottom: 1.2em
}


/**/

.coordinate {
    margin-top: 30px;
    margin-bottom: 30px;
}

.coorlist {
    width: 36%;
    float: left;
    margin-right: 2%;
}

.coorliste {
    width: 60%;
    float: left;
}

.listsr {
    width: 31.3%;
    margin-right: 2%;
    float: left;
}

.listsr img {
    width: 100%;
}

.listft {
    width: 30.3%;
    margin-right: 3%;
    float: left;
}

.listft img {
    width: 100%;
    border-radius: 20px;
}

.listft p {
    text-align: center;
    margin-bottom: 0;
}

.col-tr {
    width: 26%;
}

.col-six-tr {
    width: 67%;
    float: left;
    margin-left: 1%;
}

.col-six-trdoub {
    width: 67%;
    float: left;
    margin-left: 0%;
    margin-right: 1%;
}

.col-six-tr p {
    margin-bottom: 0
}

.marg_3 {
    margin-bottom: 30px;
}

.nomart {
    margin-bottom: 0;
}
@media screen and (max-width:1200px) {
.col-litree {
    padding-left: 20px;
    padding-right: 20px;
}
.applymedia .formgroup label {
    position: relative;
}
.apply-con .formgroup input {
    width: 100%;
    margin-left: 0;
}
.apply-con .formgroup1 input {
   width: 100%;
    margin-left: 0;
}
.apply-con .formgroup2 input {
   width: 100%;
    margin-left: 0;
}
}

@media screen and (max-width: 890px) {
	.mediag li{
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
    .col-tr {
        width: 100%;
    }
    .col-six-tr {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
    }
    .medias li {
        margin-bottom: 30px;
    }
    .col-content .col-list {
        width: 50%;
        margin-bottom: 15px;
    }
    .col-four-r {
        width: 100%;
    }
    .col-six-r {
        width: 100%;
        margin-left: 0%;
    }
    .col-six {
    width: 100%;
    margin-right: 0%;
}
.col-four {
    width: 100%;
}

.loinimg {
    width: 100%;
    margin-right: 0%;
}
.lointext {
    float: left;
    width: 100%;
}
.joinways .col-four {
    width: 100%;
}
.col-content .col-list {
    width: 50%;
}
.col-content .col-list {
    width: 50%;
}
.moretop {
    margin-top: 0.9em;
}
.coorlist {
  width: 100%;
  margin-bottom: 20px;
}
.coorliste{
	  width: 100%;
}
.buy .col-six {
  width: 100%;
}
.buy .col-four {
  width: 100%;
}
.col-litree {
/*    padding-left: 0px;
    padding-right: 0px;*/
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
.apply-li {
    width: 100%;

}
.apply-li:last-child {
    border-left: 1px solid #fff;
    border-top: none;
}
}
